<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.8">
	<title>Affliate website</title>
	<link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>
<body>
	<header>
		<h1>Shakurdigitalggg</h1>
		<nav>
			<ul>
				<li><a href="{{ url_for('home') }}">Home</a></li>
				<li><a href="{{ url_for('about') }}">About</a></li>
				<li><a href="{{ url_for('services') }}">Services</a></li>
				<li><a href="{{ url_for('products') }}">Products</a></li>
				<li><a href="{{ url_for('bestproduct') }}">Best Product</a></li>
				<li><a href="{{ url_for('signup') }}">Signup</a></li>
				<li><a href="{{ url_for('login') }}">Login</a></li>
				<li><a href="{{ url_for('contact') }}">Contact Us</a></li>
			</ul>
		</nav>
	</header>
	<div class="container">
  <div class="content">
    <img src="{{ url_for('static', filename='shoping.jpg') }}" alt="Shakurdigital Image" class="img">
    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Mauris tempor fringilla felis, quis facilisis leo pellentesque vel. Duis condimentum tellus velit, eu commodo nibh pharetra nec. Sed sed magna vel turpis commodo commodo eu quis ipsum. Morbi eget turpis ac augue rutrum bibendum. Nulla dapibus, metus non maximus semper, ante nisl commodo velit, non rhoncus velit lectus eget mauris. Nunc venenatis arcu id diam vulputate porttitor. Donec bibendum, mauris eget pretium aliquam, mi metus commodo libero, vel dapibus metus elit ut justo. Nullam rutrum sapien nec nisl pharetra, at lobortis lacus accumsan.</p>
  </div>
</div>

	</div>
</body>
</html>
